<div class="section w-75 mx-auto  p-4 rounded-5 mt-3 p-3 px-5">
    <h1 class="text-center">Notification</h1>
    <div class="div w-50 mx-auto mt-4 mb-4">
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-check fs-1"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Correction Completed</h5>
                <p class="text-black-50 mb-0">Your document has been successfully corrected.</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-circle-exclamation fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Required Modifications</h5>
                <p class="text-black-50 mb-0">Please review the required modifications for your submission.</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-upload fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">New Research Submitted</h5>
                <p class="text-black-50 mb-0">A new research paper has been uploaded for your review.</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-check fs-1"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Feedback Received</h5>
                <p class="text-black-50 mb-0">Your feedback has been recieved and is under review</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-circle-exclamation fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Submission Deadline Approaching</h5>
                <p class="text-black-50 mb-0">Remember, the deadline for sudimissions is next week</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-upload fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Research Paper Review</h5>
                <p class="text-black-50 mb-0">Your research paper is now being reviewed by the committee</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-check fs-1"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Account Verified</h5>
                <p class="text-black-50 mb-0">Your account has been successfully verified Welcome!</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-circle-exclamation fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Action Required</h5>
                <p class="text-black-50 mb-0">please complete your profile information to continue.</p>

            </div>
        </div>
        <div class="div-2 px-3 py-3 d-flex align-items-center mb-1">
            <div class="icon me-2">
                <i class="fa-solid fa-upload fs-2"></i>
            </div>
            <div class="content">
                <h5 class="mb-0">Document Uploaded</h5>
                <p class="text-black-50 mb-0">Your document has been successfully uploaded</p>

            </div>
        </div>
        
    </div>
</div>