<div class="section">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-md-5 col-sm-12 p-3">
                <div class="item p-3">
                    <h1 class="mt-3">Manage user</h1>
                    <button class="btn-main mainbtn">View/Edit</button>
                    <div class="table-1">
                        <table class="w-100 mt-3">
                            <thead>
                                <tr class="fw-bold fs-5">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
                            
                            <tbody>
                                <tr class="data">
                                    <td>mazen</td>
                                    <td>{{'Mazen@gmail.com'}}</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                                <tr class="data">
                                    <td>nasser</td>
                                    <td>{{'Nasser@gmail.com'}}</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                                <tr class="data">
                                    <td>layla</td>
                                    <td>{{'layla@gmail.com'}}</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                                <tr class="data">
                                    <td>mohamed</td>
                                    <td>{{'mohamed@gmail.com'}}</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                </div>
            </div>
            <div class="col-md-7 col-sm-12 p-3">
                <div class="item p-3">
                    <h1 class="mt-3">Manage user</h1>
                    <button class="btn-main mainbtn">View/Edit</button>
                    <div class="table-1">
                        <table class="w-100 mt-3">
                            <thead>
                                <tr class="fw-bold fs-5">
                                    <th>Concept</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
                            
                            <tbody>
                                <tr class="data">
                                    <td>Responsive Design</td>
                                    <td>Designing websities that adapt to different screen sizes</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                                <tr class="data">
                                    <td>Software System</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                                <tr class="data">
                                    <td>information System</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td class="text-center ">
                                        <button class="btn-main mainbtn d-block mt-1">Edit</button>
                                        <button class="btn-main mainbtn d-block mb-1">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="col-sm-12 col-md-12 p-3">
                <div class="item2 p-3">
                    <h1 class="mb-4">System Statistics</h1>
                    <div class="item-2 d-flex justify-content-around align-content-center">
                        <div class="item-3 bg-light shadow rounded-5  text-center px-5 py-3">
                          <h1>Total Users</h1>
                          <h1>4</h1>
                        </div>
                        <div class="item-3 bg-light shadow rounded-5 p-3 text-center">
                          <h1>Total Concepts</h1>
                          <h1>20</h1>
                        </div>
                            <div class="item-3 bg-light shadow rounded-5 text-center px-5 py-3">
                            <h1>Total login</h1>
                            <h1>35</h1>
                            </div>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>
